.comment-box {
  width: 1000px;
  padding: 10px 20px;
  background: #F7F7FE;
  border-radius: 20px;
  align-items: start;
  text-align: left;
}

.comment-container {
  margin-bottom: 40px;
}

.comment {
  font-size: 15px;
  font-weight: 500;
}

.comment-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.circle {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  background-color: rgb(61, 61, 61);
  color: black;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
}

.active {
  background-color: aqua;
}

@media screen and (max-width: 600px) {
  .comment-container {
    width: 80%;
  }

  .comment-box {
    max-width: 100%;
    margin-left: 15%;
  }
}