.contact-comp {
  background: #112D35;
  width: 100vw;
}

.contact-container {
  width: 60%;
  text-align: center;
  margin-left: 20%;
  display: grid;
  grid-template-areas: "";
  text-align: start;
  color: #fff;
  display: grid;
  grid-template-areas: "one two three four";
}

.contact-group {
  margin-right: 50px;
  width: 200px;
}

.contact-head{
  font-size: 15px;
  font-weight: 600;
}

.contact-body {
  font-weight: 400;
  font-size: 15px;
}

.contact-comp img {
  color: #fff;
}

#body-1 {
  grid-area: one;
}

#body-2 {
  grid-area: two;
}

#body-3 {
  grid-area: three;
}

#body-4 {
  grid-area: four;
  width: 100%;
}

#body-4 img {
  margin-right: 4px;
}

@media screen and (max-width: 600px) {
  .contact-container {
    grid-template-areas:  
                          "four"
                          "one"
                          "two"
                          "three"; 
  }

  .contact-body {
    display: none;
  }
}