.home-component {
  background-image: url('../images/Header-bg-01 2.png');
  display: grid;
  grid-template-areas: 
                      "content imageContent"
                      "brands .";
}

#home-content {
  grid-area: content;
  width: 520px;
  margin-top: 100px;
  margin-left: 150px;
  padding-top: 50px;
  padding-bottom: 75px;
}

.display-content {
  width: 80%;
}

#home-images {
  grid-area: imageContent;
  display: grid;
  grid-template-areas:
                       "vecOne mobImg ."
                       ". mobImg vecTwo"
                       ". mobImg ."
                       ". mobImg .";
  position: relative;
}

#brands {
  grid-area: brands;
}

#mobile-img {
  grid-area: mobImg;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* left: -200px; */
}

#small-vec {
  grid-area: vecOne;
  position: absolute;
  z-index: 2;
}

#big-vec {
  grid-area: vecTwo;
  position: absolute;
  left: -200px;
  z-index: 3;
}

#rating-content {
  margin-bottom: 30px;
  font-weight: 600;
}

.stars {
  color: #1F94AA;
}

#major-content {
  font-size: 48px;
  font-weight: 700;
}

.para-text{
  font-size: 16px;
  font-weight: 500;
}

