.main-content {
  width: 70%;
  height: 80vh;
  margin-left: 20%;
  padding-top: 5%;
  display: grid;
  grid-template-areas: 
                      "content imageContent ."
                      ". brands .";
}

#home-content {
  grid-area: content;
  width: 70%;
}

#home-images {
  margin-left: -5%;
  grid-area: imageContent;
  display: grid;
  grid-template-areas:
                       "vecOne mobImg ."
                       ". mobImg vecTwo"
                       ". mobImg ."
                       ". mobImg .";
  position: relative;
}

#brand {
  grid-area: brands;
}

.brand-text {
  text-align: center;
  color: #C4C4C4;
  font-weight: 700;
}

.brands {
  display: grid;
  grid-template-areas: ". . . bloomberg forbes week washington entrepreneur . . .";
}

#bloomberg {
  grid-area: bloomberg;
}

#forbes {
  grid-area: forbes;
}

#week{
  grid-area: week;
}

#washington{
  grid-area: washington;
}

#entrepreneur{
  grid-area: entrepreneur;
}

#mobile-img {
  grid-area: mobImg;
  width: 120%;
  height: 120%;
  object-fit: cover;
  margin-left: -25%;
  margin-top: -10%;
}

#small-vec {
  grid-area: vecOne;
  position: absolute;
  z-index: 2;
  width: 75px;
  height: 75px;
}

#big-vec {
  grid-area: vecTwo;
  position: absolute;
  left: -200px;
  z-index: 3;
}

#rating-content {
  margin-bottom: 30px;
  font-weight: 600;
}

.stars {
  color: #1F94AA;
}

#major-content {
  font-size: 48px;
  font-weight: 700;
}

.para-text{
  font-size: 16px;
  font-weight: 500;
}

