.blog-page {
  background: #E1F4FA;
  width: 100vw;
}

.blog-content {
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
}

.title-header-1 {
  font-size: 36px;
  font-weight: 700;
}

.title-header-2 {
  font-size: 30px;
  font-weight: 700;
}

.sub-header {
  font-weight: 700;
  font-size: 24px;
}

.blog-content-1 {
  font-size: 15px;
  font-weight: 500;
  white-space: pre-line;
}

.inito-card {
  width: 800px;
  border: none;
  border-radius: 20px;
  padding: 0 0 0 25px;
  margin: 30px 35px;
  display: grid;
  grid-template-areas: "one two";
  background-color: #fff;
  text-align: start;
}

.reversed {
  grid-template-areas: "two one";
}

#card-text-content {
  grid-area: one;
  /* width: 40%; */
}

#card-image-content {
  grid-area: two;
  /* width: 50%; */
}

.rounded-image {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 600px) {
  .title-header-1 {
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    /* margin-left: 5%; */
  }

  .sub-header {
    font-size: 16px;
  }

  #card-text-content {
    width: 85%;
  }

  #card-image-content {
    width: 85%;
  }

  .blog-content-1 {
    font-size: 13px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
  }

  .blog-content {
    width: 80%;
    text-align: center;

    margin-left: 0;
  }

  #card-image-content {
    margin: 0;
    padding: 0;
  }

  .inito-card {
    margin-left: 0;
    background-color: transparent;
    width: 100%;
    grid-template-areas: 
                        "one"
                        "two";
  }

  .rounded-image {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
}
