@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.primary-btn {
  background: #1F94AA;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
}

.App {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
}

.block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background: #000000;
  color: #869194;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.home-component {
  width: 100vw;
  background-image: url('./images/Header-bg-01 2.png');
}

.navbar-items {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-areas: ". . . . inito-icon . . . . . about blog faq contact inito-btn . ";
  background-color: #fff;
  z-index: 10;
  width: 100%;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .home-component {
    width: 100vw;
  }

  .App {
    padding-top: 60px;
  }

  .navbar-items {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    grid-template-areas: " inito-icon  inito-btn ";
    place-items: center;
  }

  .navbar-items a {
    display: none;
  }
  
  #inito-icon {
    display: initial;
  }

  .block-header {
    display: flex;
    flex-direction: column;
    align-items: start
  }
}

.blog-page {
  background: #E1F4FA;
  width: 100vw;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

#about {
  grid-area: about;
}

#inito-icon {
  grid-area: inito-icon;
}

#blog {
  grid-area: blog;
}

#faq {
  grid-area: faq;
}

#contact {
  grid-area: contact;
}

#inito-btn {
  grid-area: inito-btn;
}
